header{
    background-color: #F6F1F1;
    padding: 30px;
    box-shadow: 0 0 10px  black;
    backdrop-filter: blur(10px);
}
.bars {
    display:flex;
    align-items: center;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  @media screen and(min-width:416px){
    .icon{
       width: 50px;
      height: 50px;
    }
    }
  
.title{
    font-family: 'Noto Sans';
    color: black;
    text-decoration: none;
    position: fixed;
    left: 6%;
    display: inline-flex;
    padding: 14px 30px !important;
  }

  

body{
    padding: auto;
    background-color: #F6F1F1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
}
.download-button {
  display: inline-flex;
  position: fixed;
  right: 180px;
  padding: 14px 30px !important;
  font-family: 'Noto Sans';
  background-color: #EA5455 ;
  border-radius: 100px;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: capitalize;
}

.download-button:hover {
  background-color: #146C94;
  color: #000;
}

.bookticket{
  display: inline-flex;
  position:fixed;
  right: 400px;
  padding: 14px 30px !important;
  font-family: 'Noto Sans';
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: large;
}
.bookticket:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #EA5455;
}
  

.findbus{
  display: inline-flex;
  position:fixed;
  right: 550px;
  padding: 14px 30px !important;
  font-family: 'Noto Sans';
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: large;
}

.findbus:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #EA5455;
}




  
/* Profile button */
.profile-button {
  position: absolute;
  right: 50px;
  top: 7px;
  background-color: #EA5455 ;
  height: 90px;  
  border-radius:70%;
  width: 90px;

}
.profile-button img{
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-button:hover{
  background-color: #EA5455;
}



/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;   
  top: 120px;
  right: 5px;
  min-width: 160px;
  padding: 5px;
  background-color: #f5f5f5;


}

.dropdown-content a {
    color: #E6E2C3;
    font-family: 'Noto Sans';
    background-color: #EA5455;
    border-radius: 100px;
    padding: 5px 20px !important;
    text-decoration: none;
    display:inline-block;
}
.dropdown-content a:hover{
  background-color: #EA5455;
}

/* Dropdown hover */
.profile-dropdown:hover .dropdown-content {
  display: block;
}

 /*INTRODUCTION*/

:focus {
  border: 0 !important;
  box-shadow: 0 0 0 transparent !important;
}

*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  max-width: 100% !important;
  padding: 50px 0;
}

.card-box img {
  width: 500px;
  height: auto;
  filter: drop-shadow(10px 10px 30px #00000049);
  transition: all 0.75s ease-in-out;
}
.card-content h2 {
  font-weight:bolder;
  color: #FFFF00;
  font-family: "Noto Sans";
}
.card-content p {
  padding: 9px 0;
  font-weight: 700;
  color: #ffff ;
  font-family: "Noto Sans";
  word-spacing: 4px;
  width: 75%;
  height: 50%;
}
.card-content .btn {    /*button*/
  padding: 14px 30px !important;
  font-family: 'Noto Sans';
  background-color: #F0E5CF;
  border-radius: 200px;
  text-decoration: none;
  color: #ffff;
  text-transform: capitalize;
  background-color: #000;
  border: 2px solid #000;
  transition: 0.5s;
}
.card-content .btn:hover {
  color: #fff;
  font-weight: bolder;
  background-color: #146C94;
  border: 2px solid #146C94;

}
.card-box {
  padding: 20px 50px;
  width: 700px;
  height: 540px;
  transition-delay: 1s;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-box::after {
  content: "";
  position: absolute;
  background-color: #f7efe5;
  height: 350px;
  width: 350px;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.card-content {
  min-width: 0px;
  width: 100%;
  scale: 0;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.card-box:hover .card-content {
  transition: all 1  ease-in-out;
  min-width: 150px;
  scale: 1;
}
.card-box:hover .card-content {
  transition-delay: 0.3s;
  opacity: 1;
}
.card-box:hover {
  width: 5000px;
}
.card-box:hover::after {
  scale: 20;
  background-color: #EA5455;
  transition: all 1s ease-in-out;
}
.card-box:hover img {
  scale: 1.8;
}


.info-card-box{
  display: flex;
  justify-content: space-around;
  align-items: center;            
  flex-wrap: wrap;
}

.info-card1 {
  width: 400px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position:relative;
  justify-content:space-around;
  
}

.info-card1-image {
  height: 200px;
  overflow:hidden;

}

.info-card1-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.info-card1-content {
  padding: 20px;
  text-align: center;
}

.info-card1-content h3 {
  margin-top: 0;
}

.info-card1-content p {
  margin-bottom: 20px;
}



.info-card1:hover .info-card1-image img {
  transform: scale(1.1);
}












.info-card2 {
  width: 400px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position:relative;
  justify-content:space-around;
  
}

.info-card2-image {
  height: 200px;
  overflow: hidden;

}

.info-card2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.info-card2-content {
  padding: 20px;
  text-align: center;
}

.info-card2-content h3 {
  margin-top: 0;
}

.info-card2content p {
  margin-bottom: 20px;
}



.info-card2:hover .info-card2-image img {
  transform: scale(1.1);
}











.info-card3 {
  width: 400px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display:inline-block;
  vertical-align: bottom;
  position:relative;
  justify-content:space-around;
  
}

.info-card3-image {
  height: 200px;
  overflow: hidden;

}

.info-card3-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.info-card3-content {
  padding: 20px;
  text-align: center;
}

.info-card3-content h3 {
  margin-top: 0;
}

.info-card3content p {
  margin-bottom: 20px;
}



.info-card3:hover .info-card3-image img {
  transform: scale(1.1);
}


#button1{
  background-color: #0056b3;
  position: relative;
  padding:20px;
  width: 300px;
  height: 20px;
  border-radius: 0 70px;
  color: #F0E5CF;
}

#button2{
  background-color: #0056b3;
  position: relative;
  padding:20px;
  width: 300px;
  height: 20px;
  border-radius: 0 70px;
  color: #F0E5CF;
}
#button3{
  background-color: #0056b3;
  padding:20px;
  width: 300px;
  height: 20px;
  border-radius: 0 70px;
  color: #F0E5CF;
}



.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 85%;
  height: auto;
}
.modal h1{
  color: #EA5455;
}
.modal li{
  padding-bottom:20px ;
}


.modal-child{
  padding-top: 5%;
  padding-left: auto;
}

.modal ul{
  padding-bottom: 20px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}















  @media only screen and (max-width: 900px){
    .findbus{
      right: auto;
      top: 120px;
      left: 0px; 
    }
    .bookticket{
      right: auto;
      top: 150px;
      left: 0px;
    }
 
    .profile-button{
      top: 30px;
      width: 50px;
      height: 50px;
    }
    .profile-button img{
      display:block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .title{
        display: flex;
        justify-content: center;
        width: 35%;
        font-family: 'Noto Sans';
       
    }
    .download-button{
      top: 180px;
      right: 1%;
      left: auto;
      padding: 10px 20px !important;
    }
    .container{
      position: relative;
      top:90px
    }
    .card-box:hover .card-content {
      transition: all 0.5s ease-in-out;
      min-width: 300px;
      scale: 0.8;
      
    }
    
    .card-box{
      padding: 10px 20px;
      width: 400px;
      height: 400px;
   
    }
    .card-box:hover .card-content {
      transition: all 0.5s ease-in-out;
      min-width: 100px;
      scale: 0.8;
      
    }
   .card-box img{
      position: relative;
      width: 350px;
      height: auto;
    }
  
   
  }

  @media only screen and (max-width: 680px){
    .title{
       display: flex;
        justify-content: center;
        width: 35%;
        font-family: 'Noto Sans';
    }
    .profile-button{
      top: 30px;
      width: 50px;
      height: 50px;
    }
    .profile-button img{
      display:block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 20%;
    }
    .download-button{
      top: 180px;
      right: 1%;
      left: auto;
      padding: 10px 20px !important;
      background-color: #120a8f;
    }

    .text1{
        position:relative;
        left: 0%;
        width: 100%;
        font-family: 'Noto Sans';
        top: 200px;
        padding: 0px;
      
    }
    .card-box{
      padding: 10px 20px;
      width: 300px;
      height: 300px;
   
    }
    .card-box:hover .card-content {
      transition: all 0.5s ease-in-out;
      min-width: 100px;
      scale: 0.8;
      
    }
   .card-box img{
      position: relative;
      width: 250px;
      height: auto;
    }
    

  }
  

