/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Registration Container Styles */

.registration-container {
    position: relative;
    top: 150px;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.registration-container .registration-title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.registration-container .registration-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 30px;
    border-radius: 5px;
    background: #B1003C;
}



.login-container .login-title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.login-container .login-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 30px;
    border-radius: 5px;
    background: #B1003C;
}

.login-container .login-content {
    /* Additional styles for login content if needed */
}

/* Form and Input Styles */

form .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .input-section {
    margin-bottom: 15px;
    width: 100%;
}

form .input-section span.field-label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-info .input-section input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-info .input-section input:focus,
.user-info .input-section input:valid {
    border-color: #2E8B57;
}

form .login-button {
    height: 45px;
    margin: 35px 0;
}

form .login-button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #B1003C;
}

form .login-button input:hover {
    background: #2E8B57;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries and Additional Styles (if needed) */
